
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;

    &:focus {
        outline: none;
    }
}

/* font-family */

// font-family: 'NanumSquareRoundL';
// font-family: 'NanumSquareRound';
// font-family: 'NanumSquareRoundB';
// font-family: 'NanumSquareRoundEB';

/* mixin */

@mixin backGround($url, $size) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $size;
}

@mixin flex ($align-items: center, $justfy-content: flex-start) {
    display: flex;
    align-items: $align-items;
    justify-content: $justfy-content;
}

.wrap {
    @include backGround(url('../images/bg.jpg'), cover);
    position: relative;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
}

/* 헤더 */

#header {
    @include flex(baseline, space-between);
    height: 80px;
    padding: 0 20px;
    font-family: 'NanumSquareRoundEB';
    vertical-align: middle;
    background-color: $color-skyblue;
}

/* 메인 */

#main {
    padding: 0 30px;
    height: calc(100vh - 80px);

    .dday-list-wrap {
        height: 100%;
        margin-top: 30px;
    }
}

.addmodal {
    @include flex(center, space-between);
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 35%;
    top: 50%;
    left: 50%;
    padding: 30px 20px;
    border-radius: $border-radius-small;
    background-color: $color-white;
    // opacity: 0;
    transform: translate(-50%, -50%);
    // transition: 0.5s;
    z-index: 2;
    display: none;
}
