// color

$color-white: #fff;
$color-panton: #91a8d1;
$color-skyblue: #cae9f3;
$color-black: #000;
$color-gray: #ccc;

// border-radius

$border-radius-small: 5px;
$border-radius-middle: 30px;
$border-radius-circle: 50%;