@charset "utf-8";

@import './varible.scss';
@import './common.scss';
@import './media.scss';

/* 헤더 */

#header {
    & > h1 {
        line-height: 80px;
        font-size: 2.7rem;
        text-align: center;
        white-space: nowrap;
        color: $color-white;
    }

    & > .today > .today-text {
        font-size: 2.7rem;
        white-space: nowrap;
        background-color: $color-skyblue;
        color: $color-white; 
    }
    
}

.wrap > .add-modal-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: $border-radius-circle;
    color: $color-white;
    font-family: 'NanumSquareRoundEB';
    font-size: 5rem;
    background-color: $color-skyblue;
    box-shadow: 1px 2px 4px #00000030, 0 0 5px #ffffff50 inset;
}

.dim {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    backdrop-filter: blur(3px);
}

.title-wrap {
    align-self: flex-start;
}

.title-wrap > input[type="text"] {
    width: 100%;
    border-bottom: 2px solid $color-skyblue;
    font-family: 'NanumSquareRoundEB';
    font-size: 2.4rem;
}

.date-wrap {
    font-family: 'NanumSquareRoundEB';
    font-size: 1.7rem;

    & input[type="date"] {
        font-family: 'NanumSquareRoundEB';
        font-size: 1.7rem;
        background-color : transparent;
    }

    & > label {
        @include flex(center, flex-start);
        gap: 0 10px;
    }

    & i {
        display: none;
    }
}

.add {
    width: 100%;
    padding: 10px 0;
    border-radius: $border-radius-small01;
    font-family: 'NanumSquareRoundEB';
    font-size: 2.4rem;
    color: $color-white;
    background-color: $color-skyblue;
    transform: translateY(0);
    transition: 0.3s;
    box-shadow: 5px $color-black;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 5px $color-gray;
    }
}

.exit {
    @include backGround(url('../images/x.svg'), contain);
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
}

.dday-list {
    @include flex(center, space-between);
    height: 12%;
    margin-bottom: 20px;
    padding: 0 20px;
    border-radius: $border-radius-middle;
    background-color: $color-white;

    & > .thumb {
        @include backGround(url('../images/cal.png'), contain);
        width: 6rem;
        height: 6rem;
        margin-right: 6%;
    }

    & > .dday-title-wrap {
        @include flex(center);
        flex-direction: column;

        & > h3 {
            margin-bottom: 5px;
            font-family: 'NanumSquareRoundEB';
            font-size: 2.8rem;
            padding: 0 4px;
            transition: .2s;

            & > span {
                font-size: 2.4rem;
                white-space: nowrap;
                &:hover {
                    border: 1px solid #aaa;
                }
            }

            & > input {
                border: 1px solid #aaa;
                width: 100px;
                height: 32px;
                padding: 0 5px;
                border-radius: 4px;
                font-size: 15px;
                letter-spacing: 1px;
            }
        }

        & > .criterion {
            font-family: 'NanumSquareRoundB';
            font-size: 1.6rem;
            white-space: nowrap;
        }

    }

    .dday-wrap > .dday {
        margin-right: 6%;
        color: $color-panton;
        font-family: 'NanumSquareRoundEB';
        font-size: 3rem;
        white-space: nowrap;
    }

    .ddaybtn-wrap > button {
        font-family: 'NanumSquareRoundEB';
        padding: 10px;
        font-size: 1.8rem;
        border-radius: $border-radius-small01;
        background-color: $color-panton;
        color: $color-white;
        white-space: nowrap;
    }

}

.none-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    height: 200px;
    border-radius: $border-radius-small02;
    color: #888888;
    font-size: 1.6rem;
    text-align: center;
    background-color: $color-white;
    & > b {
        color: #777777;
        font-size: 2.2rem;
    }
}