@charset "utf-8";

@import './varible.scss';
@import './common.scss';
@import './component.scss';

/* 헤더 */

#header > h1 {
    line-height: 80px;
    text-align: center;
    color: $color-white;
}

.wrap > .add-modal-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: $border-radius-circle;
    color: $color-white;
    font-family: 'NanumSquareRoundEB';
    font-size: 50px;
    background-color: $color-skyblue;
}

.title_wrap {
    align-self: flex-start;
}

.title_wrap > input[type="text"] {
    width: 100%;
    border-bottom: 2px solid $color-skyblue;
    font-family: 'NanumSquareRoundEB';
    font-size: 24px;
}

.date_wrap {
    font-family: 'NanumSquareRoundEB';
    font-size: 20px;

    & input[type="date"] {
        font-family: 'NanumSquareRoundEB';
        font-size: 19px;
    }
}

.add {
    width: 100%;
    padding: 10px 0;
    border-radius: $border-radius-small;
    font-family: 'NanumSquareRoundEB';
    font-size: 24px;
    color: $color-white;
    background-color: $color-skyblue;
    transform: translateY(0);
    transition: 0.3s;
    box-shadow: 5px $color-black;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 5px $color-gray;
    }
}

.dday-list {
    @include flex(space-between);
    height: 15%;
    margin: 30px 0;
    border-radius: $border-radius-middle;
    background-color: $color-white;
}